.container {
  padding-inline: 20px;
}

@media (width >= 576px) {
  .container {
    padding-inline: 72px;
  }
}

@media (width >= 1024px) {
  .container {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

.page {
  color: #fff;
  scroll-behavior: smooth;
  font-family: Cinzel, sans-serif;
  font-size: 24px;
  line-height: 30px;
}

.page__body {
  min-width: 320px;
  margin: 0;
}

.page__menu {
  opacity: 0;
  pointer-events: none;
  transition: all .3s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
  transform: translateX(0);
}

.header {
  color: #fff;
  background-image: url("header-bg.59c6d471.png");
  background-position: center;
  background-size: cover;
}

.header__content {
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  display: flex;
}

.header__title {
  letter-spacing: -1.5px;
  text-align: center;
  margin: 0;
  font-family: Cinzel, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}

@media (width >= 576px) {
  .header__title {
    font-size: 64px;
    line-height: 64px;
  }
}

.header__bottom {
  padding-bottom: 288px;
}

@media (width >= 576px) {
  .header__bottom {
    padding-bottom: 456px;
  }
}

.top-bar {
  justify-content: space-between;
  align-items: center;
  padding-block: 25px;
  display: flex;
}

@media (width >= 576px) {
  .top-bar {
    padding-block: 50px;
  }
}

.top-bar__icons {
  gap: 24px;
  display: flex;
}

.top-bar__logo-link {
  display: flex;
}

.top-bar__logo {
  height: 46px;
  transition: transform .3s;
}

.top-bar__logo:hover {
  transform: scale(1.2);
}

@media (width >= 576px) {
  .top-bar__logo {
    height: 65px;
  }
}

.icon {
  background-size: cover;
  width: 24px;
  height: 24px;
  transition: transform .3s;
  display: block;
}

.icon:hover {
  transform: scale(1.2);
}

@media (width >= 576px) {
  .icon {
    width: 32px;
    height: 32px;
  }
}

.icon--phone {
  background-image: url("Icon-Phone-call.7d02e5c9.svg");
}

.icon--menu {
  background-image: url("Icon-Burger-menu.9660e8f0.svg");
}

.icon--close {
  background-image: url("Icon-Close.d893f973.svg");
}

.menu {
  box-sizing: border-box;
  text-transform: uppercase;
  color: #fff;
  background-color: #d12d35;
  height: 100vh;
  font-weight: 700;
}

.menu__top {
  margin-bottom: 40px;
}

@media (width >= 576px) {
  .menu__top {
    margin-bottom: 0;
  }
}

.menu__nav {
  margin-bottom: 32px;
}

.menu .the-met-fifth-avenue {
  text-align: left;
  color: inherit;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 27px;
  text-decoration: none;
  display: block;
}

.menu_phone-number {
  text-align: left;
  color: inherit;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 27px;
  text-decoration: none;
  display: block;
}

.menu .the-met-cloisters {
  text-align: left;
  color: inherit;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 27px;
  text-decoration: none;
  display: block;
}

.menu_phone-namber-cloisters {
  text-align: left;
  color: inherit;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 27px;
  text-decoration: none;
  display: block;
}

.menu-call-to-order {
  letter-spacing: 2px;
  text-align: left;
  color: inherit;
  border-bottom: 1px solid #fff;
  width: fit-content;
  padding-bottom: 7px;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  display: block;
}

.nav__link {
  color: inherit;
  letter-spacing: 2px;
  font-size: 22px;
  line-height: 22px;
  text-decoration: none;
  position: relative;
}

.nav__link:after {
  content: "";
  transform-origin: 0;
  background-color: #fff;
  width: 100%;
  height: 1px;
  transition: transform .3s;
  display: block;
  position: absolute;
  bottom: -8px;
  transform: scale(0);
}

.nav__link:hover:after {
  transform: scale(1);
}

.nav__list {
  flex-direction: column;
  gap: 32px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.hours {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 20px;
  display: grid;
}

@media (width >= 576px) {
  .hours {
    --columns: 6;
    column-gap: 24px;
  }
}

@media (width >= 1024px) {
  .hours {
    --columns: 12;
    column-gap: 24px;
  }
}

.hours__title {
  grid-column: 1 / -1;
}

@media (width >= 576px) {
  .hours__title {
    grid-column: 1 / 3;
  }
}

@media (width >= 1024px) {
  .hours__title {
    grid-column: 1 / 6;
  }
}

.hours__content {
  grid-column: 1 / -1;
}

@media (width >= 576px) {
  .hours__content {
    grid-column: 4 / 6;
  }
}

@media (width >= 1024px) {
  .hours__content {
    grid-column: 6 / -1;
  }
}

.hours__title-wrapper {
  flex-direction: column;
  grid-column: 1 / -1;
  align-items: flex-start;
  display: flex;
}

@media (width >= 576px) {
  .hours__title-wrapper {
    grid-column: 1 / 3;
  }
}

@media (width >= 1024px) {
  .hours__title-wrapper {
    grid-column: 1 / 6;
  }
}

.hours__title-wrapper .hours__subtitle {
  text-align: left;
  color: #d12d35;
  margin: 0;
  font-family: Cinzel, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16.8px;
}

.hours__title-wrapper .hours__title {
  letter-spacing: -1.5px;
  text-align: left;
  margin: 0;
  font-family: Cinzel, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
}

.hours__name {
  text-align: left;
  margin: 0;
  font-family: Cinzel, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.hours__fifth-avenue {
  margin-bottom: 12px;
}

.hours__working-days {
  gap: 8px;
  margin: 0;
  padding: 0;
  display: grid;
}

.hours__working-days .working-days__schedule {
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  display: flex;
}

.hours__working-days .working-days__time {
  text-align: left;
  margin: 0;
  font-family: Cinzel, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
}

.hours__working-days .working-days__day {
  text-align: left;
  margin: 0 0 0 24px;
  font-family: Cinzel, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.hours .holidays__day {
  text-align: left;
  margin: 0;
  font-family: Cinzel, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

.hours .working-days__schedule:nth-last-child(2) {
  margin-bottom: 16px;
}

.section-title {
  letter-spacing: -1.5px;
  text-align: center;
  margin: 0 0 48px;
  font-family: Cinzel, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
}

@media (width >= 576px) {
  .section-title {
    font-size: 48px;
  }
}

@media (width >= 1024px) {
  .section-title {
    font-size: 48px;
  }
}

.section-title--algin--left {
  text-align: left;
}

.now-on-view__categories {
  row-gap: 48px;
  display: grid;
}

.section-title {
  margin: 0;
}

.section__subtext {
  text-align: center;
  margin: 8px 0 0;
  font-family: Cinzel, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

.collection__photos {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 20px;
  display: grid;
}

@media (width >= 576px) {
  .collection__photos {
    --columns: 6;
    column-gap: 24px;
  }
}

@media (width >= 1024px) {
  .collection__photos {
    --columns: 12;
    column-gap: 24px;
  }
}

.collection__link {
  position: relative;
}

@media (width >= 576px) {
  .collection__link--wide {
    grid-column: span 4;
  }
}

@media (width >= 1024px) {
  .collection__link--wide {
    grid-column: span 8;
  }
}

.collection__link--square {
  height: 0;
  padding-bottom: 100%;
}

@media (width >= 576px) {
  .collection__link--square {
    grid-column: span 2;
  }
}

@media (width >= 1024px) {
  .collection__link--square {
    grid-column: span 4;
  }
}

.collection__photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin-bottom: 24px;
  position: absolute;
}

.collection__name {
  text-align: left;
  color: #d12d35;
  font-family: Cinzel, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
}

.collection__date {
  text-align: left;
  color: #161616;
  font-family: Cinzel, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

.button-container {
  justify-content: center;
  align-items: center;
  display: flex;
}

.collection__button {
  color: #fff;
  text-align: center;
  background: #d12d35;
  border: none;
  width: 324px;
  height: 56px;
  margin-top: 40px;
  font-family: Cinzel, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
}

.more__explores {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 48px 20px;
  display: grid;
}

@media (width >= 576px) {
  .more__explores {
    --columns: 6;
    column-gap: 24px;
  }
}

@media (width >= 1024px) {
  .more__explores {
    --columns: 12;
    column-gap: 24px;
  }
}

.more__containers {
  grid-column: 1 / -1;
}

@media (width >= 576px) {
  .more__containers {
    grid-column: 2 / -2;
  }
}

@media (width >= 1024px) {
  .more__containers {
    grid-column: span 4;
  }
}

.explore__img {
  width: 100%;
}

.explore__title {
  text-align: center;
  color: #d12d35;
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
}

.explore__text {
  text-align: center;
  color: #161616;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

.contacts {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 20px;
  display: grid;
}

@media (width >= 576px) {
  .contacts {
    --columns: 6;
    column-gap: 24px;
  }
}

@media (width >= 1024px) {
  .contacts {
    --columns: 12;
    column-gap: 24px;
  }
}

.contacts__title {
  grid-column: 1 / -1;
  display: flex;
}

@media (width >= 576px) {
  .contacts__title {
    grid-column: 2 / 5;
  }
}

@media (width >= 1024px) {
  .contacts__title {
    grid-column: 5 / 8;
  }
}

.contacts__information-fifth {
  text-align: left;
  flex-direction: column;
  grid-column: 1 / -1;
  align-items: flex-start;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  display: flex;
}

@media (width >= 576px) {
  .contacts__information-fifth {
    grid-column: 1 / 3;
  }
}

.contacts__information-cloisters {
  flex-direction: column;
  grid-column: 1 / -1;
  align-items: flex-start;
  display: flex;
}

@media (width >= 576px) {
  .contacts__information-cloisters {
    grid-column: 1 / 3;
  }
}

@media (width >= 1024px) {
  .contacts__information-cloisters {
    grid-column: 4 / 6;
  }
}

.contacts__information-form {
  flex-direction: column;
  grid-column: 1 / -1;
  align-items: flex-start;
  width: 100%;
  margin: 0;
  display: flex;
}

@media (width >= 576px) {
  .contacts__information-form {
    grid-column: 4 / -1;
  }
}

@media (width >= 1024px) {
  .contacts__information-form {
    grid-column: 8 / -1;
  }
}

.contacts__information-form .info__text {
  text-align: left;
  font-family: Cinzel, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
}

.contacts__information-form .form__input {
  box-sizing: border-box;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 411px;
  height: 48px;
  padding: 10px;
  font-family: Cinzel, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  transition: border-color .3s;
}

.contacts .form__button {
  padding-top: 32px;
}

.contacts .button {
  text-align: center;
  color: #fff;
  background: #ae1c23;
  border: none;
  width: 100%;
  height: 56px;
  font-family: Cinzel, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
}

.footer__img {
  width: 100%;
  height: auto;
  margin-top: 134px;
}

.main__content {
  row-gap: 100px;
  padding-block: 100px;
  display: grid;
}

@media (width >= 576px) {
  .main__content {
    row-gap: 140px;
    padding-block: 140px;
  }
}
/*# sourceMappingURL=index.971c2ea4.css.map */
